<%- include("partials/header"); -%>

<div class="container-contact"> 
    <div class="contact-me">
        <h2>You can reach me through:</h2><br>
        <h3>Cellphone:</h3><p>(xx) xxxxx-xxxx</p>
        <h3>Email:</h3><p>natalia.c.morais@gmail.com</p>
        <h3>Or you can go directly to my <i class="fab fa-linkedin"></i></h3><p><a href="https://www.linkedin.com/in/nat%C3%A1lia-campana-a1a450195/">LinkedIn</a></p>
    </div>

    <div class="contact-img">   
        <section>
            <img class="contact-pic" src="images/contactpage.jpeg" alt="myself">
        </section>
    </div>
</div>


