

<%- include("partials/header"); -%>

<div class="resume">
    <div class="column">
        <section class="profile">
            <link rel="stylesheet" href="/css/styles.css">
        </section>
        
        <section class="objectives">
            "To secure a challenging position in a reputable organization to expand my learnings, knowledge, and skills."
        </section>
        
        <section class="skills">
            <h2>Capabilities/Skills</h2>
            <ul class="grid">
                <li>
                    <h3>Professional</h3>
                    <ul>
                        <li>English ⭒⭒⭒⭒⭒</li>
                        <li>Spanish ⭒⭒⭒⭒</li>
                        <li>Microsoft Office (Word, Excel, Outlook) ⭒⭒⭒⭒⭒</li>
                        <li>Javascript ⭒⭒⭒⭒</li>
                        <li>HTML ⭒⭒⭒⭒</li>
                        <li>CSS ⭒⭒⭒⭒</li>
                        <li>Video editing ⭒⭒⭒⭒</li>
                    </ul>
                </li>
                <li>
                    <h3>Personal</h3>
                    <ul>
                        <li>Adaptability</li>
                        <li>Ability to work under pressure</li>
                        <li>Ability to work in a team</li>
                        <li>Fast learner</li>
                        <li>Communication skills</li>
                        <li>Problem solving skills</li>
                        <li>Leadership</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="education">
            <h2>Education</h2>
            <ul class="timeline">
                <li class="event">
                    <span class="duration">2013 - 2018</span>
                    <div class="content">
                        <h3>B.S. in Psychology</h3>
                        <p><em>Universidade Paulista - UNIP</em></p>
                        <p class="information">Undergraduate thesis: "A importância da intervenção psicológica em crianças e
                            adolescentes com câncer" - 10,0</p>
                    </div>
                </li>
                <li class="event">
                    <span class="duration">june / 2021</span>
                    <div class="content">
                        <h3>Extracurricular course in Microbiology</h3>
                        <p><em>Centro Educacional Sete de Setembro</em></p>
                        <p class="information">Introduction to Microbiology, bacteriology, virology and mycology.</p>
                    </div>
                </li>
                <li class="event">
                    <span class="duration">08/2021 - still on</span>
                    <div class="content">
                        <h3>YouFIT Program</h3>
                        <p><em>FIT Instituto de Tecnologia</em></p>
                        <p class="information">Initiative to teach women how to program.</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <div class="column">
       
        
        <section class="experience">
            <h2>Experience</h2>
            <ul class="timeline">
                <li class="event">
                    <span class="duration">2019 - 2020</span>
                    <div class="content">
                        <h3>Receptionist</h3>
                        <p><em>BigMob, Sorocaba</em></p>
                        <p class="information">Telephone and front desk reception, database and records management, customer servisse, executive and
                            administrative support, calendar management, office and supply maintenance.</p>
                    </div>
                </li>
                <li class="event">
                    <span class="duration">2017 - 2018</span>
                    <div class="content">
                        <h3>Pedagogical Coordinator</h3>
                        <p><em>inFlux, Sorocaba</em></p>
                        <p class="information">Evaluate the existing curriculum at the school and they developed innovative solutions to improve
                            student and worker outcomes.</p>
                    </div>
                </li>
                <li class="event">
                    <span class="duration">2015 - 2015</span>
                    <div class="content">
                        <h3>English teacher</h3>
                        <p><em>MicroPro, Sorocaba</em></p>
                        <p class="information">Supervised students progress in acquiring CCSS skills, planned tests and assessment methods for
                            checking students’ CCSS skills, combined various English teaching methods and techniques to help
                            students improve their results, created a full curriculum according to state standards and
                            maintained positive student-teacher relationship and cooperated with parents on a daily basis.</p>
                    </div>
                </li>
                <li class="event">
                    <span class="duration">2014 - 2015</span>
                    <div class="content">
                        <h3>English teacher</h3>
                        <p><em>Wizard, Sorocaba</em></p>
                        <p class="information">Supervised students progress in acquiring CCSS skills, planned tests and assessment methods for
                            checking
                            students’ CCSS skills, combined various English teaching methods and techniques to help students
                            improve
                            their results, created a full curriculum according to state standards and maintained positive
                            student-teacher relationship and cooperated with parents on a daily basis.</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>



